[submodule "3rdparties/openal-soft"]
	path = 3rdparties/openal-soft
	url = ../../kcat/openal-soft.git
[submodule "3rdparties/glfw"]
	path = 3rdparties/glfw
	url = ../../glfw/glfw.git
[submodule "3rdparties/bullet3"]
	path = 3rdparties/bullet3
	url = ../../bulletphysics/bullet3.git
[submodule "3rdparties/assimp"]
	path = 3rdparties/assimp
	url = ../../assimp/assimp.git
